body {
  background-color: white;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: black;
  font-size: 14px;
  line-height: 20px;
  /*opacity: 0;
  -ms-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;*/
}

h1 {
  position: static;
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  float: none;
  clear: none;
  opacity: 1;
  font-family: 'Didot 96 A', 'Didot 96 B';
  color: black;
  font-size: 6rem;
  line-height: 5rem;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}
h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Didot 96 A', 'Didot 96 B';
  color: black;
  font-size: 10.3rem;
  line-height: 9.4rem;
  font-style: normal;
  font-weight: 800;
  text-align: left;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
h3 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0rem;
  opacity: 1;
  font-family: 'Didot 96 A', 'Didot 96 B';
  color: white;
  font-size: 5.7rem;
  line-height: 5rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  list-style-type: none;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  float: none;
  opacity: 1;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-size: 0.7rem;
  line-height: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: none;
}
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  float: none;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: black;
  font-size: 0.7rem;
  line-height: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}
p {
  margin-bottom: 2rem;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: #828282;
  font-size: 0.7rem;
  line-height: 1.1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-transform: none;
  text-align: justify;
}

.times {
  font-family: 'Times New Roman', serif;
}
.icon {
  font-family: 'Captured icons', sans-serif;
}

/*Nav*/
a#nav-toggle {
  position: fixed;
  right: 4rem;
  top: 4.2rem;
  height: 1.9rem;
  width: 1.9rem;
  z-index: 99;
}


#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  height: 2px;
  width: 26px;
  background: #bdbdbd;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -4px;
}
#nav-toggle span:after {
  bottom: -4px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  -ms-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-primary-nav-container {
  ul  {
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      list-style: none;
      width: 100%;
      a {
        display: inline-block;
        width: 100%;
        padding: 2.5rem 0px;
        -webkit-transition: opacity 500ms ease, background-color 500ms ease;
        transition: opacity 500ms ease, background-color 500ms ease;
        font-family: 'Didot 96 A', 'Didot 96 B';
        color: black;
        font-size: 2rem;
        font-weight: 200;
        text-align: center;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        text-decoration: none;
        font-style: italic;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
}

.sub-nav {
  ul#menu-sub-nav {
    margin: 0;
    padding: 0;
    li {
      border-right: 1px solid #f2f2f2;
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0 1rem;
      a {
        transition: opacity 500ms ease;
        font-family: 'Gotham SSm A', 'Gotham SSm B';
        color: black;
        font-size: 0.6rem;
        font-weight: 300;
        letter-spacing: 0.15rem;
        text-decoration: none;
        text-transform: uppercase;
        text-decoration: none;
        -ms-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        opacity: 1;
        transition: all .5s ease;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
}


.button {
  display: block;
  width: 100%;
  margin: 0rem 0rem 1rem;
  padding: 1rem;
  border: 3px solid white;
  background-color: transparent;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: white;
  font-size: 0.7rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  background-color: white;
  opacity: 1;
  color: black;
}
.button.modal-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  opacity: 1;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
}
.button.modal-link:hover {
  background-color: white;
  opacity: 1;
  color: black;
}
.button.no-btn {
  margin-top: 0rem;
  border: 3px solid white;
  background-color: transparent;
  color: white;
}
.button.dark-btn {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-color: white;
  background-color: transparent;
  -webkit-transition: opacity 500ms ease, background-color 500ms ease;
  transition: opacity 500ms ease, background-color 500ms ease;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}
.button.owo-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.button.black-btn {
  border-color: black;
  color: black;
}
.button.black-btn:hover {
  background-color: black;
  color: white;
}
.container {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 3rem;
  z-index: 1;
  display: block;
  //margin-top: 23%;
  opacity: 1;
  text-align: left;
}
.line {
  display: block;
  width: 1rem;
  height: 1px;
  margin: 1rem auto 2rem;
  background-color: white;
  opacity: 0.1;
}
.line.dark-line {
  margin-top: 1rem;
      margin-bottom: 1rem;
  background-color: black;
}
.form-wrapper {
  display: block;
  width: 50%;
  margin: 2rem auto 0px;
  clear: none;
  color: white;
  text-align: center;
}
.email-field {
  position: static;
  display: block;
  width: 10rem;
  height: 2rem;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  border-style: none;
  background-color: black;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: white;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.submit-btn {
  width: 8rem;
  height: 3rem;
  float: right;
  background-color: white;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: black;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.submit-btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.form {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.section {
  position: fixed;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: block;
  background-image: url('../images/FR_adrianne.jpg');
  background-position: 50% -198px;
  background-size: cover;
  background-repeat: repeat;
}
.logo {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  margin-bottom: 0px;
  margin-left: 3rem;
  font-family: 'Didot 96 A', 'Didot 96 B';
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
}
.footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
}
.black {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.type-contain {
  position: relative;
  z-index: 2;
  margin-top: 6%;
}
.logo-column {
  position: fixed;
  z-index: 2;
  margin-left: 0rem;
  padding-top: 0rem;
  padding-left: 0rem;
}
.navbar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 3.6rem;
  margin-top: 2.5rem;
  /* padding: 1rem 2rem 0.6rem 3rem; */
  float: none;
  clear: none;
  background-color: white;
}
.navbar.no-top-pad {
  margin-top: 0rem;
  background-color: black;
}
.brand {
  font-family: 'Didot htf b96', sans-serif;
  position: absolute;
  font-size: 2.2rem;
  letter-spacing: -0.02rem;
  text-transform: none;
  top: 3.2rem;
  z-index: 99;
  left: 4rem;
}
.menubtn.w--open {
  background-color: white;
}
.nav-open {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: none;
  height: 100%;
  //padding-top: 8rem;
  //border: 15px solid white;
  background-color: white;
}
.nav-link-open {
  display: none;
  border-left-style: none;
  border-left-width: 1px;
  background-color: white;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: black;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.nav-link-open.w--current {
  color: black;
}
.nav-link-open.logout {
  display: none;
  border-left-style: solid;
  border-left-color: black;
  background-color: white;
}
.logo-link {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 2;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  color: white;
  text-decoration: none;
}
.logo-link:hover {
  opacity: 0.5;
}
.logo-link.w--current {
  position: static;
  left: 4rem;
  top: 4rem;
  z-index: 2;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  float: left;
  clear: none;
  opacity: 1;
}
.logo-link.w--current:hover {
  opacity: 1;
}
.north {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 3;
  display: block;
  height: 1rem;
  background-color: white;
  z-index: 3;
}
.south {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  display: block;
  height: 1rem;
  background-color: white;
  color: black;
  z-index: 3;
}
.west {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2;
  display: block;
  width: 1rem;
  height: 100%;
  background-color: white;
  z-index: 3;
}
.east {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  display: block;
  width: 1rem;
  height: 100%;
  background-color: white;
  z-index: 3;
}
.hyperlink {
  margin-left: 0.3rem;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: #54e3ff;
  font-size: 0.8rem;
  text-decoration: none;
}
.checkbox-field {
  padding-top: 3.5rem;
}
.paragraph {
  color: #7a7a7a;
  font-size: 0.8rem;
}
.rules {
  position: relative;
  z-index: 2;
  margin-bottom: 0rem;
  padding-bottom: 5rem;
}
.ordered-list {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-size: 0.7rem;
  font-weight: 300;
}
.primary-btn {
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}
.modal-background {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  display: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-window {
  display: block;
  width: 60%;
  margin-top: 7%;
  margin-right: auto;
  margin-left: auto;
  padding: 0rem 2rem 2rem;
  border: 8px solid white;
  background-color: black;
}
.form-field {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  border: 3px solid white;
  background-color: transparent;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
}
.intro-text {
  margin-bottom: 2rem;
  font-weight: 300;
}
.top-row {
  margin-bottom: 3rem;
}
.byline {
  position: static;
  right: 0rem;
  bottom: 0rem;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  margin-right: auto;
  margin-left: auto;
  z-index: 6;
}
.date-contain {
  display: block;
  float: none;
  text-align: center;
}
.content {
  position: relative;
  z-index: 2;
  margin-top: 1.5rem;
  padding: 0rem 9rem 5rem;
}
.final-p {
  margin-bottom: 1rem;
}
.last-p {
  margin-bottom: 1rem;
}
.letter-back {
  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
  background-color: transparent;
}
.dark {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: #424242;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
}
.white {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.90);
}
.home-only {
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 40;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  clear: both;
  background-color: transparent;
  -ms-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.home .header {
  -ms-transform: translateY(-150px);
  -moz-transform: translateY(-150px);
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px);
  opacity: 0;
  -webkit-transition-delay: 1.5s; /* Safari */
  transition-delay: 1.5s;
}
.home .loaded .header {
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.nav-link {
  width: 100%;
  padding: 3rem 0px;
  -webkit-transition: opacity 500ms ease, background-color 500ms ease;
  transition: opacity 500ms ease, background-color 500ms ease;
  font-family:'Didot htf b96 ital', sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.nav-link:hover {
  background-color: white;
  opacity: 1;
  color: black;
}
.nav-link.w--current {
  background-color: white;
  color: black;
}
.nav-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 7rem;
  border: 1rem solid white;
  background-color: black;
}
.menu-btn {
  position: relative;
  z-index: 15;
  margin-top: 0rem;
  margin-right: 0rem;
  padding: 0.5rem 1rem 1rem;
}
.menu-btn.w--open {
  background-color: transparent;
}
.btn-bar {
  position: static;
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  text-align: center;
}
.centered-bar {
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.left {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 50%;
  padding: 8% 10%;
  float: left;
  background-color: #2b2b2b;
}
.right {
  position: static;
  overflow-x: visible;
  overflow-y: visible;
  width: 50%;
  padding: 0%;
  float: right;
  background-color: black;
}


.float-left {
  float: left;
}
.signup-header {
    float: left;
    margin-right: 2%;
    padding-top: 6px;
}

input#mce-EMAIL {
  float: left;
    width: 30%;
  border: 1px solid transparent;
  background-color: #f2f2f2;
  margin-right: 2%;
  text-transform: uppercase;
  font-size: .6rem;
  letter-spacing: .1rem;
  padding: 1%;
}

input#mc-embedded-subscribe {
  width: 20%;
  border: solid 1px transparent;
    background-color: black;
  padding: .7%;
    margin-top: -4px;
    &:hover {
    background-color: #777;   
    }
}

.credits-bar {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0rem;
  z-index: 5;
  height: 3rem;
  opacity: 0;
  padding: 1rem 2rem;
  background-color: white;
  text-align: center;
  -moz-transition: translateY(100px);
  -webkit-transition: translateY(100px);
  transition: translateY(100px);
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.loaded .credits-bar {
  opacity: 1;
  -moz-transition: translateY(0);
  -webkit-transition: translateY(0);
  transition: translateY(0);
  -moz-transition-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.byline-title {
  padding-top: 0rem;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: #bdbdbd;
  font-size: 0.6rem;
  line-height: 1rem;
  font-weight: 400;
  text-align: right;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
.owo-button {
  display: inline-block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0.5rem 2rem;
  float: none;
  border: 3px solid white;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.15rem;
  text-decoration: none;
  text-transform: uppercase;
}
.owo-button:hover {
  background-color: white;
  opacity: 1;
  color: black;
}
.fs-icon {
  width: 50px;
  padding: 1rem 0rem;
  float: right;
  font-family:'Captured icons', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.fs-link {
  padding: 0rem;
  float: right;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: white;
  text-align: center;
  text-decoration: none;
}
.fs-link:hover {
  background-color: white;
  color: black;
}
.feat-photo {
  border: 5px solid black;
}
.room-one {
  background-image: url('../images/room-one.jpg');
  background-size: cover;
}
.slider {
  height: 45rem;
}
.black-outline {
  margin: 12% 15%;
  border: 5px solid white;
  box-shadow: rgba(0, 0, 0, 0.49) 1px 1px 1px 0px;
}
.shopping-cart-icon {
  font-family:'Captured icons', sans-serif;
  color: white;
  font-size: 1.3rem;
}
.arrow {
  position: absolute;
  left: 0px;
  top: 15px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 80px;
  height: 50px;
  margin-top: 0rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0rem;
  background-color: white;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family:'Captured icons', sans-serif;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}
.arrow:hover {
  background-color: black;
  color: white;
}
.arrow.w--current {
  display: none;
}
.row-100 {
  position: relative;
}
.arrow-icon {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 0rem;
  background-color: transparent;
  font-family:'Captured icons', sans-serif;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  list-style-type: none;
}
.arrow-icon:hover {
  color: white;
}
.skip-link {
  position: relative;
  z-index: 1;
  display: block;
  width: 10%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  background-color: white;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family:'Captured icons', sans-serif;
  color: black;
  text-align: center;
  text-decoration: none;
}
.skip-link:hover {
  background-color: black;
  color: white;
}
.fs-pic-link {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0rem;
  float: left;
  background-color: white;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: black;
}
.fs-pic-link:hover {
  background-color: black;
  color: white;
}
.cen-icon {
  display: inline-block;
  text-align: center;
}
.details {
  /*margin-bottom: 20%; */
  padding-top: 1rem;
  padding-right: 10%;
  padding-left: 10%;
}
.header-hidden {
  position: fixed;
  z-index: 30;
  width: 100%;
}
.photo-title {
  margin-top: 7.5%;
  padding-right: 10%;
  padding-bottom: 0rem;
  padding-left: 10%;
}
.highlight {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 10%;
  background-color: black;
  font-family: abril-titling-narrow, sans-serif;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
.details-title {
  padding-left: 10%;
  opacity: 1;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}
.avail-text {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}



.words {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  float: none;
  background-color: black;
  text-align: center;
  .half-right {
      background: #fff;
  }
  .half-left {
    background-image: url('../images/ballerina.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  }
}
.blurb-contain {
  padding-right: 8rem;
  padding-left: 8rem;
}
.concept-body {
  margin-bottom: 0rem;
  padding-top: 0%;
  padding-right: 0%;
  padding-left: 0%;
  color: #828282;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.12rem;
}
.concept-body.grey-type {
  padding-top: 0%;
  padding-right: 0%;
  padding-left: 0%;
  color: #7d7d7d;
}

.style-copy {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
  text-align: center;
}
.style-header {
  font-family:'Didot 96 A', 'Didot 96 B';
  color: white;
  font-size: 4.7rem;
  line-height: 4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-style: italic;
}

.power-heading {
  position: relative;
  top: 25%;
  bottom: 0px;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 5% 0%;
  background-color: transparent;
  text-align: center;
}
.style-title {
  position: relative;
  top: 30%;
  right: 0px;
  bottom: 0px;
  padding: 30% 15% 5%;
  color: white;
  text-align: left;
}
.c-mark {
  position: absolute;
  left: 0px;
  top: 4rem;
  bottom: 0px;
}
.wow-title {
  position: relative;
  top: 35%;
  width: 100%;
  padding-left: 5%;
  color: white;
  text-align: left;
}

.col-nopad {
  padding-right: 0px;
  padding-left: 0px;
}
.style-type {
  margin-bottom: 0rem;
  color: #cfcfcf;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 200;
  text-align: justify;
}
.copy-contain {
  position: relative;
  top: 25%;
  padding-top: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  background-color: transparent;
}
.black-type {
  margin-top: 0px;
  margin-bottom: 1rem;
  color: black;
  line-height: 2rem;
}
.excel-type {
  margin-top: 0px;
  margin-bottom: 1rem;
  color: black;
  font-size: 3rem;
  line-height: 1;
}
.black-p {
color: black;
}
.white-p {
    color: white;
    font-size: 4rem;
    line-height: 3.5rem;
}

.white-copy-contain {
  
  max-width: 28rem;
  margin: 11rem auto 0;
  p {
    font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 300;
  text-align: justify;

  }
  ul {
    margin-left: 0;
    margin-bottom: 1rem;
    padding-left: 1.2rem;
    li {
      color: #828282;
      font-family: 'Gotham SSm A', 'Gotham SSm B';
      font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 300;
  text-align: justify;
    letter-spacing: 0.05rem;
    margin-bottom: .5rem;
    }
  }
}
.iceburg-copy {
  margin-bottom: 0rem;
  color: #cfcfcf;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 200;
    text-align: justify;
}
.snooze {
  position: relative;
  height: 20rem;
  background-color: #424242;
}
.snooze-title-contain {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 0%;
}
.snooze-title {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 6.3rem;
  line-height: 3.9rem;
  text-align: center;
}
.archive-1 {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  background-color: black;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: white;
  text-decoration: none;
}
.archive-1:hover {
  background-color: white;
  color: black;
}
.archive-title {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  list-style-type: none;
}
.column-text {
  padding: 8% 7% 1%;
  background-color: transparent;
}
.left-align {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 200;
  text-align: left;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.c-mark-contain {
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: 2;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: center;
}
.aldiff-type {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 200;
  text-align: left;
  letter-spacing: 0.1rem;
}
.inline-cart-icon {
  display: inline;
  font-family:'Captured icons', sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  text-transform: none;
}
.glasses-icon {
  display: inline-block;
  float: left;
  font-family:'Captured icons', sans-serif;
  font-size: 2rem;
  line-height: 1.4rem;
  text-transform: none;
}
h4.image-title {
  p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    color: black;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 100;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }
}
.black-background {
  padding-right: 0px;
  padding-left: 0px;
  background-color: white;
}
.det-span {
  float: right;
}
.altogether {
  font-size: 4.7rem;
  line-height: 4rem;
  text-align: left;
}


.lower-case-b {
  text-transform: none;
}
.sub-nav {
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}
.sub-nav-link {
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: white;
  font-size: 0.6rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
  text-decoration: none;
  text-transform: uppercase;
}
.sub-nav-link:hover {
  opacity: 0.5;
}
.divider {
  float: none;
}
.artists-back {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('/wp-content/themes/captured/images/soldier_about.jpg');
  background-position: center;
  background-size: cover;
}
.wow-txt {
  color: white;
}
.red {
  height: 50rem;
  background-image: url('../images/polypenrose.jpg');
  background-size: cover;
}


/*ABOUT PAGE */
.page-template-page-about-tpl {
  background-image: url('../images/about_emboss_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  p {
    color: #000;
  }
}
.about-type {
  margin-top: 8%;
  padding-right: 0%;
  padding-left: 0%;
}
p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 200;
}
.contact-header {
  color: black;
  font-size: 4.7rem;
}

.terms-copy {
  padding-top: 8%;
}
.terms {
  background-color: white;
  padding-bottom: 10rem;
}

/* Contact */
.contact-copy {
  //padding-top: 15%;
}

.highlight-link {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.5rem;
  background-color: #f2da6d;
}

.contact-links {
  color: black;
  font-size: 0.8rem;
}

.contact-link {
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  line-height: 2;
  text-decoration: none;
}


html.w-mod-js *[data-ix="hide-nav"] {
  display: none;
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}
html.w-mod-js *[data-ix="sitewide-fade-in"] {
  opacity: 0;
}
html.w-mod-js *[data-ix="slide-in-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}
html.w-mod-js *[data-ix="fade-up-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}
html.w-mod-js *[data-ix="new-interaction-2"] {
  display: none;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}
html.w-mod-js *[data-ix="invisible-header"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="fade-in-from-right"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="fade-in-from-left"] {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="fade-up"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

/* POST WEBFLOW DUMP / PRE MEDIA QUERIES */

.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hundo {
  position: relative;
  height: 100%;
}
.frost {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 1;
  -ms-transition: opacity 1.5s ease;
  -moz-transition: opacity 1.5s ease;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}
.loaded .frost {
  opacity: 0;
}


//home
body.home {
  height: 100%;
  position: relative;
  .site-wrapper {
    position: relative;
    height: 100%;
  }
  .icon {
    color: #828282;
    font-family: 'Captured icons', sans-serif;
    font-size: 1.3rem;
    padding-right: 1rem;
    text-decoration: none;
  }
}
.home-section {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 0;
  display: block;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
 /* -webkit-filter: brightness(500%);
  filter: brightness(500%);
  -webkit-filter: blur(30px);
  filter: blur(30px);
  -ms-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -webkit-transition: all 3s ease;
  transition: all 3s ease; */

}

a.home-link-layer {
  display: inline-block;
  position: absolute;
  height: 90%;
  width: 100%;
  text-decoration: none;
  z-index: -1;
  h1, h2, h3 {
    text-decoration: none;
  }
}
.loaded a.home-link-layer {
  z-index: 9;
}

.curtain {
  display: block;
  position: fixed;
  height: 100%;
  z-index: 9;
  width: 100%;
  background: #000;
}
.inside-curtain {
  margin: 0 auto;
  width: 16rem;
  overflow: hidden;
  text-align: center;
  img.fiftytwo {
    width: 96%;
    padding-right: .5rem;
    margin: 0 auto .5rem;
  }
  h1, h2, h3 {
    line-height: 1rem;
    color: white;
    text-align: justify;
  }
  h1 {
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-size: 16rem;
    font-weight: 100;
    display: block;
    text-align: center;
    line-height: 1.2;
  }
  h2 {
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-size: 1.2rem;
    text-align:center;
    font-weight: 100;
  }
  h3 {   
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-style: normal;

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }
  hr {
    width: 10%;
  }
  

  h2#exclusive {
  
    span {
      display: inline-block;
      padding-right: 1rem;
    }
    span:last-child {
      padding-right: 0;
    }
  }

  h2#large-format {
    font-weight: bold;
    span {
      display: inline-block;
      padding-right: .07rem;
      &.char5 {
        padding-right: 1rem;
      }
    }
    span:last-child {
      padding-right: 0;
    }
  }
  h2#photographs {
    margin-bottom: 1rem;
    span {
      display: inline-block;
      padding-right: .17rem;
    }
    span:last-child {
      padding-right: 0;
    }
  }

}
a#entrance {
  cursor: pointer;
  width: 96%;
  margin: 0 auto;
}

.squeeze {
  position: relative;
  margin: 2rem;
  width: 96%;
  //padding-left: .3rem;
  margin: 1rem auto;
}

.flash {
  background: white;
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9;
}




.loaded {
  .home-section {
    /*-webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-filter: blur(0);
    filter: blur(0);*/
  }
}
.home-container {
  position: relative;
  height: 100%;
}
.home-title-contain {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
span.title-text {
  display: inline;
  opacity: 0;
  -ms-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  &.buy-btn {
      margin-top: 1rem;
    display: none;
  }
  &.sans-serif {
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-style: normal;
    font-weight: 100;
    letter-spacing: 0;
  }
  &.upper {
    text-transform: none;
    margin-top: -1rem;
  }
}
.loaded {
  span.title-1 {
    opacity: 1;
   
  }
  span.title-2 {
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
  }
  span.title-3 {
    opacity: 1;
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
  }
  span.title-4 {
    opacity: 1;
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
  }
}

.fs-trigger {
  position: fixed;
  bottom: 5rem;
  width: 2rem;
  right: 1rem;
  opacity: 0;
  z-index: 10;
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.loaded .fs-trigger {
  opacity: 1;
  -webkit-transition-delay: 4s;
  transition-delay: 4s;
}

#fullscreen {
  display:none;
  height: 100%;
  width: auto;
  &.see {
    display: block;
  }
}
.single-shopp_product, .page-template-page-concept-tpl {
  .header{
    opacity: 0;
    transform: translateX(0px) translateY(-100px);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    &.activate {
      opacity: 1;
      transform: translateX(0px) translateY(0px);
      display: block;

    }
  }
}

/*Concept*/
body.page-template-page-concept-tpl {
  height: 100%;
  .site-wrapper {
    height: 100%;
  }

}

.section-title {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2%;
  padding-left: 2%;
}
.fixed {
	position: relative;
  height: 100%;
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden;
}

.scroll{
	position: relative;
	min-height: 100%;
  overflow: hidden;
  width: 100%;
}
.vert-mid {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.narrow-full {
  display: block;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  padding: 5%;
  background-color: transparent;
  box-shadow: none;
}

.half-screen {
  height: 100%;
  width: 50%;
  position: absolute;
  &.half-right {
    right: 0;

  }
  &.half-left {
    left: 0;
  }
  .half-text {
    padding: 0 15%
  }
}
.full-tile-msg {
  h1 {
    color: white;
  }
  padding-left: 5%;
}

.message-block {
  position: relative;
  background: white;
  color: black;
}
.message-inside {
  padding: 8% 0;
  max-width: 24rem;
  margin: 0 auto;
  p {
      color: black;
      font-size: 0.8rem;
      line-height: 1.3rem;
      font-weight: 300;
      text-align: justify;
  }
}
.tight-section {
  padding: 3rem 0;
}
.tight-header {
  margin-bottom: 2.5rem;
}
.tight-copy {
  max-width: 24rem;
  margin: 0 auto;
  p {
    color: #000;
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-weight: 300;
    text-align: justify;
  }

}

.power {
background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.04) 18%, rgba(0, 0, 0, 0.2)),  url('../images/rodel_ice.jpg');
background-image: linear-gradient(rgba(0, 0, 0, 0.04) 18%, rgba(0, 0, 0, 0.2)),  url('../images/rodel_ice.jpg');
  height: 90%;
  min-height: 90%;
}


.forest {
background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .3)), url('../images/TheGloaming.jpg');
background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .3)), url('../images/TheGloaming.jpg');
}

.wow {
  background-image: url('../images/collezioni.jpg');
  .full-tile-msg h1 {
    color: black;
  }
  h4 {
    color: black;
  }
}
.style {
  background-image: url('../images/kirkcrippens.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.half-screen.half-right.ballerina {
  background-image: url(../images/ballerina.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}


.wow-copy {
  text-align: left;
  .vert-mid img {
    width: 100%;
  }
}
.bebold {
  position: relative;
  display: block;
  width: 100%;
  .airplane-hangar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0.09)), url('../images/Poseidon.jpg');
    background-image: linear-gradient(rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0.09)), url('../images/Poseidon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .dummy {
    padding-top: 66.7%;
  }
  .air-mid {
    position: absolute;
    top: 40%;
    width: 100%;
  }
}
.insitue {
  background-image: url(../images/institu_edit.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  .vert-mid {
    position: absolute;
  }
}

/*Manifesto*/
.page-template-page-manifesto-tpl {
  height: 100%;
  .site-wrapper.loaded {
    height: 100%;
    position: relative;
  }
  .manifesto {
    background-image: url(../images/TheGloaming.jpg);
    height: 100%;
    min-height: 100%;
  }
  .section-title {
    padding-top: 15rem;
    padding-left: 4.5rem;
    h1 {
      color: white;
    }
    h4 {
      color: white;
    }
  }
}


/*Shared Value*/

.page-template-page-value-tpl {
  .white-copy-contain {
    max-width: 24rem;
    margin: 0 auto;
    h4 {
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
}


.artists-back {
  h4 {
    color: #000;
  }
  p {
    color: #000;
  }
}



/* TOC FAQ */

.page-template-page-toc-tpl .white-copy-contain, .page-template-page-faq-tpl-php .white-copy-contain {
  margin-top: 0;
}

/***********************************

UPCOMING

*************************************/
.upcoming-wrap {
  padding-top: 6.1rem;
}

.upcoming-inside {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    -ms-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0;
}
.w-col.upcoming-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  width: 32.333%;
  margin: .5%;
  h2 {
    color: #fff;
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-size: .8rem;
    line-height: 1;
    padding-left: 2rem;
    font-weight: normal;
    padding-top: 2rem;
  }
  h3 {
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-size: 1rem;
    font-style: normal;
    line-height: 1;
    padding-left: 2rem;
  }
  &:hover .upcoming-inside {
    opacity: 1;
    cursor: pointer;
  }
}

.upcoming-content {
  position: absolute;
  height: 100%;
  width: 100%;
}

.uc-img-button {
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  text-decoration: none;
  z-index: 3;
}

.bkg-dark-full {
  background: #000;
  opacity: .7;
  position: absolute;
  height: 100%;
  width: 100%;
}

.over-bkg {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
}

span.upcoming-size {
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  background-color: white;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: black;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  min-width: 50%;
}

a.button.upcoming-button.notify-button {
  position: absolute;
  bottom: 2rem;
  width: 80%;
  left: 40%;
  margin-left: -30%;
}


.wpcf7 {
  input {
      width: 100%;
      background: #f7f7f7;
      color: #333;
      border: none;
      letter-spacing: .2rem;
      padding: 1.25rem;
      margin-bottom: 1.25rem;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .9rem;
  }
    
    div.wpcf7-mail-sent-ok {
    border: 2px solid white;
        color: white;
    }
    
  input[type="submit"] {
    background: #000;
    border: 2px solid #fff;
    color: #fff;
    -ms-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}


.w-col.upcoming-item#upcoming-item-177 {
    background-position: top;
}


/***** DESIGNER *********/

  .designer-text-contain {
    padding: 12rem 0 7rem;
    width: 80%;
    max-width: 59rem;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    h1 {
      color: white;
      display: block;
      padding-bottom: 2rem;
    }
    p {
      color: white;
      font-size: 0.8rem;
      line-height: 1.3rem;
      font-weight: 300;
      text-align: justify;
    }
    .pol_password {
      background: white;
    }
    .pol_submit {
      background: white;
      border-color: black;
      color: black;
      &:hover {
        background: black;
        color: white;
      }
    }
    
  }
.login-form-contain {
  position: relative;
  width: 100%;
 
  text-align: center;
  #loginform {
    display: inline-block;
    input {
      padding: .5rem;
    }
    input#wp-submit {
      background: white;
      box-shadow: none;
      color: white;
      background: black;
      border: 2px solid black;
      text-transform: uppercase;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      transition: all .5s ease;
      &:hover {
        background: white;
        color: black;
      }
    }
  }
}

.page-template-page-designer-speed-tpl {
  min-height: 100%;
  .site-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .pol_form {
    text-align: center;
}
  .nda-content {
    position: relative;
    height: 100%;
    width: 100%;
    background: black;
  }
  #nav-toggle {
    display:none;
  }
  &.logged-in {
    #nav-toggle {
      display: inline-block;
    }
  }
}
.nda-checkbox-contain {
  padding-bottom: 1rem;
  a {
    color: #fff;
  }
  span {
    padding-left: .5rem;
  }
}
.pol_submit {
  display: inline-block;
  /*width: 10rem;*/
  margin: 0rem 0rem 1rem;
  padding: 1rem;
  border: 3px solid white;
  background-color: transparent;
  -webkit-transition: background 500ms ease;
  -o-transition: background 500ms ease;
  transition: background 500ms ease;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: white;
  font-size: 0.7rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: white;
    color: #000;
  }
}
.pol_password {
  border: 3px solid black;
  background-color: transparent;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-size: .7rem;
  padding: 1rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
  margin-bottom: 15px;
  width: 14rem;
}


/*Press Page */
.page-template-page-press-tpl  {
  height: 100%;
}
.page-template-page-press-tpl .site-wrapper.loaded {
    height: 100%;
    position: relative;
}

.press-contain {
  background: #000;
    padding-top: 7rem;
    h1 {
      display: block;
      text-align: center;
    }
}



.press-item {
 
   
    text-align: center;

    blockquote {
      margin-bottom: 10px;
      padding: 10px 20px;
      border-left: 5px none #e2e2e2;
      font-family: 'Gotham SSm A', 'Gotham SSm B';
      color: #cfcfcf;
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 10px 0;
  }
}

.press-img {
    text-align: center;
}

a.press-img-link {
  background: #fff;
    display: inline-block;
   width: 100%;
   text-align: center;
  padding: 4.4rem 0;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -ms-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -moz-webkit-transition: all .5s ease;
  transition: all .5s ease;
  &:hover {
    background: #fff;
    filter: invert(0%);
  -webkit-filter: invert(0%);
  }

   img {
     
          max-width: 15rem;
    max-height: 5rem;
      
   }
}





@media all and (max-width: 1300px){
  .w-col.upcoming-item {
    width: 46%;
  }

}

@media all and (max-width: 1024px){
  .w-col.upcoming-item {
    width: 97%;
  }

}


/*Footer*/
.byline p {
  font-size: .6rem;
  line-height: 1.7;
  text-align: right;
}



/*Loader */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  background: red;

  pointer-events: none;
}

@media (max-width: 1024px){
  .med-pad {
    padding: 12rem 0;
  }
  .half-screen {
    height: auto;
    width: 50%;
    position: relative;
    float: left;
  }

  .words {
    .half-screen{
      width: 100%;
      &.half-left {       
        min-height: 33rem;
        background-position: 0rem -12rem;
      }
    }
  }




  /*Concept*/
  body.page-template-page-concept-tpl {
    height: auto;
    .site-wrapper {
      height: auto;
      .vert-mid {
        position: relative;
        top: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }

  .fixed {
  	position: relative;
    height: auto;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
    background-attachment: scroll;
    overflow: auto;
  }

  .scroll{
  	position: relative;
  	min-height: 100%;
    overflow: auto;
  }
  .power {

  }
  .words {
    .half-right {
      padding: 4rem 0;
    }
  }
  .wow-copy {
    .half-left {
      padding: 4rem 0;
    }
  }

}
.down-btn {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
    a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
  }
}

.down-btn-white {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
    a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }
}






@media (max-width: 991px) {
  body {
    background-position: 0% 0%, 72% 0%;
  }
  h1 {
    font-size: 5rem;
  }

    #mc_embed_signup {
    display:none;
    }

  .button.modal-link {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .container {
    margin-top: 29%;
  }
  .form-wrapper {
    width: 65%;
  }
  .section {
    background-position: 64% 0%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .logo-link {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0rem;
  }
  .logo-link.w--current {
    width: 30%;
    float: left;
  }




  .rules {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .primary-btn {
    width: 25%;
  }
  .modal-window {
    width: 80%;
    margin-top: 9%;
  }
  .content {
    margin-top: 0rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .centered-bar {
    width: 30%;
  }
  .left {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
  }
  .right {
    position: static;
    display: block;
  }
  .product {
    position: static;
    display: block;
    float: none;
    clear: none;
  }
  .black-outline {
    position: relative;
  }
  .arrow.w--current {
    display: none;
  }
  .row-100 {
    position: relative;
    display: block;
    float: none;
    clear: none;
  }
  .details {
    position: relative;
  }
  .photo-title {
    position: relative;
  }
  .highlight {
    position: relative;
  }
  .style-header {
    font-size: 2.7rem;
    line-height: 2.7rem;
  }
  .style-title {
    top: 0%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .white-copy-contain {
    width: 80%;
  }
  .column-text {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .det-span {
    float: right;
  }

  /*****
    Concept
  ************/
  .half-screen {
    height: auto;
    width: 100%;
    position: relative;
    float: none;
  }


}
@media (max-width: 767px) {
  /*landing*/
  .credits-bar {
    height: 4rem;
    z-index: 9999;
  }
    #mc_embed_signup {
    display:none;
    }
  .byline p {
    text-align: center;
  }

  .home-title-contain {
    top: 38%;
  }
  #shopp-cart-ajax {
    position: absolute;
    right: 7.75rem;
    top: 1.5rem;
    z-index: 99;
  }

  .nav-open .vert-mid {
      top: auto;
      background: white;
      padding: 5rem 0 10rem;
      position: relative;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
  }

  a#nav-toggle {
    position: absolute;
    right: 1rem;
    top: 2.2rem;
    height: 1.9rem;
    width: 1.9rem;
    z-index: 99;
  }

  .brand {
    font-family: 'Didot htf b96', sans-serif;
    position: absolute;
    font-size: 1.7rem;
    letter-spacing: -0.02rem;
    text-transform: none;
    top: 1rem;
    z-index: 99;
    left: 1rem;
  }

  body {
    background-position: 0% 0%, 77% 50%;
    background-size: auto, auto;
    background-repeat: repeat, repeat;
    background-attachment: scroll, scroll;
  }
  h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 4.7rem;
    line-height: 4.7rem;
  }
  h4 {
    font-size: 1.1rem;
    letter-spacing: 0.4rem;
  }

  .header {
    position: relative;

  }
  .navbar {
    margin-top: 0;
  }
  .nav-open {
    position: relative;
    border: none;
    border-bottom: 15px solid #fff;
    padding-top: 0;
  }
  .button.modal-link:hover {
    opacity: 1;
  }
  .container {
    margin-top: 50%;
    text-align: center;
  }
  .form-wrapper {
    width: 83%;
  }
  .section {
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .north {
    display: none;
  }
  .south {
    display: none;
  }
  .west {
    display: none;
  }
  .east {
    display: none;
  }

  .artists-back {
    position: relative;
  }
  .primary-btn {
    width: 30%;
  }
  .modal-window {
    width: 95%;
  }
  .date-contain {
    position: static;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0rem;
    float: none;
  }
  .content {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .menu-btn {
    margin-top: 1.1rem;
  }
  .centered-bar {
    width: 46%;
  }
  .black-outline {
    margin: 10%;
  }
  .arrow.w--current {
    display: none;
  }
  .white-copy-contain {
    width: 90%;
  }
  .snooze-title {
    line-height: 4.9rem;
  }
  .archive-1 {
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 0%;
    text-align: center;
  }
  .det-span {
    float: right;
  }

  .reveal-modal {
    width: 90%;
    margin-left: -45%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {

  /*Curtain*/
  body.home {
    height: auto;
  }
  .curtain {
    position: relative;
  }
  .inside-curtain.vert-mid {
    padding-top: 5rem;
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .home-title-contain {
    padding-top: 7rem;
  }


}

@media (max-width: 479px) {
  body {

    background-position: 79% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h1 {
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 500;
  }
  h2 {
    line-height: 4.4rem;
    text-align: left;
  }
  h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  h4 {
    font-size: 0.9rem;
    letter-spacing: 0.3rem;
  }
  h5 {
    opacity: 1;
    text-align: center;
    letter-spacing: 0.1rem;
  }
  .container {
    position: static;
    display: block;
    margin-top: 50%;
    margin-bottom: 2rem;
  }
  .message-inside {
    padding: 8% 10%;
    max-width: auto;
    margin: 0 auto;
  }
  .tight-copy {
    max-width: auto;
    padding: 0 10%;
    margin: 0 auto;
  }
  .style-header {
    font-size: 1.7rem;
  }
  .words .half-screen.half-left {
    display: none;
  }
  .menu-primary-nav-container ul li a {
    padding: 1rem 0;
    font-size: 1.3rem;
  }
  .line {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .form-wrapper {
    width: 90%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .email-field {
    width: 11rem;
    border-right-style: dashed;
    border-right-width: 0px;
  }
  .submit-btn {
    width: 5rem;
    height: 3rem;
    margin-top: 0rem;
  }
  .section {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .home-section {
    position: fixed;
    background-position: center;
  }
  .img {
    margin-bottom: 0.5rem;
  }
  .logo-link {
    padding-left: 0rem;
  }
  .logo-link.w--current {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
    opacity: 1;
    text-align: center;
  }
  .primary-btn {
    width: 50%;
  }
  .modal-window {
    padding-top: 2rem;
  }
  .byline {
    position: static;
    left: 0px;
    right: 0px;
    bottom: 0rem;
    padding-bottom: 0rem;
  }
  .content {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .letter-back {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .dark {
    text-align: left;
  }
  .home-only {
    background-position: 68% 50%;
  }
  .nav-link {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .nav-menu {
    padding-top: 10rem;
  }
  .menu-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: both;
    background-color: #242424;
    text-align: center;
  }
  .centered-bar {
    width: 70%;
    padding-top: 1rem;
  }
  .credits-bar {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .byline-title {
    font-size: 0.45rem;
    letter-spacing: 0.01rem;
  }
  .black-outline {
    margin: 5%;
  }
  .arrow.w--current {
    display: none;
  }
  .row-100 {
    position: relative;
    left: 0px;
    top: 0px;
    display: block;
    width: 100%;
  }
  .highlight {
    width: 90%;
  }
  .details-title {
    float: none;
  }
  .style {
    /*position: static;*/
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    color: black;
  }
  .wow {
    font-size: 5rem;
  }
  .style-title {
    padding-right: 5%;
    padding-left: 5%;
  }
  .white-copy-contain {
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
  }
  .snooze-title {
    font-size: 3rem;
    line-height: 3rem;
  }
  .archive-1 {
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 0%;
    text-align: center;
  }
  .glasses-icon {
    float: left;
  }
  .det-span {
    float: right;
  }
}





@media all and (min-width: 2559px){
  html {
    font-size: 130%;
  }
}

@font-face {
  font-family: 'Captured icons';
  src: url('../fonts/captured-icons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
