/* jQuery Countdown styles 2.0.0. */
.count-contain {
	opacity: 0;
  -ms-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.loaded .count-contain{
	opacity: 1;
	-webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.is-countdown {
	border: none;
	  color: black;
	  background-color: transparent;
	  width: 20rem;
	  margin: 2rem auto 0;
}

.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown-amount {
    font-size: 200%;
}
.countdown-period {
    display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}
