.cart {
/*  position: fixed;
  left: auto;
  right: 0px;
  bottom: auto;
  z-index: 2000;
  display: none;
  width: 16rem;
  height: 3.25rem;
  margin-top: 3rem;
  margin-right: 3rem;
  padding: 0rem;
  float: right;
  border: 3px solid white;
  border-radius: 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 0px 1px 0px;
  opacity: 1; */
}
/*.cart-type {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 0rem;
  float: left;
  font-family: aktiv-grotesk-std, sans-serif;
}
.cart-price {
  padding: 0.9rem 1rem;
  float: right;
  background-color: black;
  color: white;
}
.shopping-cart {
  padding: 0.8rem 1rem;
  float: left;
  background-color: black;
  color: black;
}
.cart-contents {
  padding-top: 0rem;
  padding-left: 0rem;
  float: right;
}

.product {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 0rem;
  padding: 1rem;
  background-color: black;
}
*/

/* Header */
#shopp-cart-ajax {
   position: fixed;
    right: 7.75rem;
    top: 3.7rem;
    z-index: 99;
 a {
   color: #bdbdbd;
   text-decoration: none;
 }
}
span.cart-header {
  display: inline-block;
  font-family: 'Captured icons', sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: none;
}
/*Product Detail Page */

body.single-shopp_product {
  height: 100%;
    background: black;
  .site-wrapper {
    height: 100%;
    position: relative;
  }
  .c-mark-contain img {
    width: 4rem;
  }
  .shopp-product {
    position: relative;
    height: 100%;
    min-height: 100%;
    .product {
      height: 100%;
      position: relative;
    }
    form {
      height: 100%;
      position: relative;
    }
    .row-100 {
      height: 100%;
      min-height: 100%;
      position: relative;
    }
    .black-background {
      position: relative;
      height: 100%;
      min-height: 100%;
    }

    .photo-title {
      h3 {
          display: block;
          margin-top: 0px;
          margin-bottom: 0rem;
          opacity: 1;
          font-family: 'Gotham SSm A', 'Gotham SSm B';
          color: black;
          font-size: 1.7rem;
          line-height: 1;
          font-style: normal;
          font-weight: normal;
          letter-spacing: 0.1rem;
          text-transform: uppercase;
          list-style-type: none;
      }
    }
  }
  .w-col.w-col-6.w-col-stack.prod-img  {
    position: relative;
    height: 100%;
    min-height: 100%;
    text-align: center;
    img {
      width: 75%;
    }
  }
  .down-btn {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    z-index: 2;

    .icon {
     
      color: black;
        background-color: white;
      display: inline-block;
      font-size: 1.5rem;
      padding: 1.5rem;
      font-family:'Captured icons', sans-serif;
      -ms-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      text-decoration: none;
      &:hover {        
        color: white;
        background-color: black;
      }
    }
  }
}

.details p {
  font-size: .8rem;
  text-transform: uppercase;
}
a.details-link {  
  font-size: .9rem;
}
.lifestyle-gallery{
  position: relative;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
.w-row .add-to-cart-contain {
  padding-right: 10%;
  padding-left: 10%;
  /*margin-bottom: 20%;*/
}
.button.add-to-cart-area {
  cursor: pointer;
  display: block;
  border-color: black;
  background-color: transparent;
  -webkit-transition: opacity 500ms ease, background-color 500ms ease;
  transition: opacity 500ms ease, background-color 500ms ease;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0;
  position: relative;
  span.inline-cart-icon {
    position: absolute;
    left: 2rem;
    top: 1rem;
  }
  input[type="submit"] {
    background: transparent;
    -webkit-transition: opacity 500ms ease, background-color 500ms ease;
    transition: opacity 500ms ease, background-color 500ms ease;
    border: none;
    color: black;
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    letter-spacing: .1rem;
    text-transform: uppercase;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &:hover {
      color: white;
        background-color: black;
    }
  }
}

.w-col.bonus-blurb {
  margin-bottom: 14%;
  padding-left: 10%;
  padding-top: 1rem;
  p {
    font-style: italic;
    font-size: .8rem;
  }
}

.unavailable .add-to-cart-area {
  display: none;
}
a.details-link {
  color: black;
  text-decoration: none;
}

/*Archive*/
div.catalog {
  padding-top: 4rem;
}
div.catalog-title {
  padding-bottom: 2rem;
  text-align: center;
  h1 {
    color: #fff;
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 3rem;
    text-align: center;
    letter-spacing: .33rem;
  }
}
.product-contain {
  .product {
    width: 32.3333%;
    margin: .5%;
    float: left;
    &:last-child {
      display: none;
    }
  }

  .frame {
    position: relative;
    width:100%;
    padding-bottom: 63%;
    overflow: hidden;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  a.details {
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    -ms-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    &:hover {
      opacity: 1;
    }
  }
  h4.name {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
  }
}

/*Checkout */
body.checkout, body.cart {
  background-color: #fff;
  color: #000;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #ccc;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #ccc;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color:    #ccc;
  }
}

.free-shipping {
  color: red;
}
#shopp #cart th, #shopp #cart td {
  text-transform: uppercase;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  letter-spacing: .075rem;
}


.checkout-form-contain.w-container {
  padding-top: 11rem;
}
.checkout-form-contain {
  h3 {
    font-size: 1.2rem;
    color: #333;
    font-family: 'Gotham SSm A', 'Gotham SSm B';
  }
  input {
    width: 100%;
    background: #f7f7f7;
    color: #333;
    border: none;
    letter-spacing: .2rem;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
  }
  input.update-button, input.checkout-button {
    display: block;
    width: 100%;
    margin: 0rem 0rem 1rem;
    padding: 1rem;
    border: 3px solid white;
    background-color: transparent;
    -webkit-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    font-family: aktiv-grotesk-std, sans-serif;
    color: white;
    font-size: 0.7rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-color: black;
    color: black;
    &:hover {
      background-color: black;
      color: white;
      }

  }
  select {
    border: none;
    letter-spacing: .2rem;
    background: #f7f7f7;
    color: #333;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
    -webkit-appearance:none;
  }
}
#shopp form ul li span label, #shopp form div label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9rem;
  letter-spacing: .1rem;
  color: #333;
}

input#same-address-shipping, input#marketing {
  width: auto;
}
.same-shipping {
  padding: 1rem 0;
  font-size: 1;
}

#shopp #cart .money, #shopp #cart .totals th, #shopp #cart .buttons td {
  text-align: left;
  text-transform: uppercase;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  letter-spacing: .075rem;
  font-size: .9rem;
}
#shopp #cart .totals.total th, #shopp #cart .totals.total td {
  font-size: .9rem;
}


.cart-item-contain {
  background: #F7F7F7;
}

a.edit-cart {
  color: #008CBA;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 0 .5rem;
}

a.cart-btn {
  width: 100%;
  background: #f7f7f7;
  color: #ccc;
  display: inline-block;
  border: none;
  letter-spacing: .2rem;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9rem;
  width: 50%;
  text-decoration: none;
  -ms-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  &.right {
    text-align: right;
  }
  &:hover {
    background: #000;
    color: #fff;
  }

}

#shopp #cart table {
  margin: 6rem 0;
}
button.remove {
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: bold;
  color: red;
}

/* Thank you */
#shopp #receipt fieldset {
  padding: 0;
  border: none;
  margin: 20px 0 30px;
}
#shopp #receipt {
  padding-bottom: 10rem;
}



.large-details {
  display: block;
}
.small-details {
  display: none;
}

/* Media Query Start */
@media all and (max-width: 1024px){
  .add-to-cart-area span.inline-cart-icon {
    display: none;
  }
}
.add-to-cart-area span.inline-cart-icon {
  position: absolute;
  left: 2rem;
  top: 1.7rem;
}

@media all and (max-width: 991px) {
  .large-details {
  display: none;
  }
  .small-details {
    display: block;
    p {
      font-style: italic;
      margin-bottom: 1rem;
    }
  }

   body.single-shopp_product .shopp-product {
    position: relative;
    padding-top: 3rem;
    height: auto;
    min-height: auto;
 
  }

  .single-shopp_product .vert-mid {
  position: relative;
  top: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}


  body.single-shopp_product .w-col.w-col-6.w-col-stack.prod-img {
    padding-top: 7rem;
    position: relative;
    height: 75%;
    min-height: 75%;
    text-align: center;
  }
  .photo-title {
    margin-top: 0;
  }
}

@media all and (max-width: 767px) {

  /*shop single*/
  .single-shopp_product .header, .page-template-page-concept-tpl .header {
    opacity: 1;
    transform: translateX(0px) translateY(0);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
  }

   body.single-shopp_product .shopp-product {
    padding-top: 3rem;
   }

   body.single-shopp_product .w-col.w-col-6.w-col-stack.prod-img {
    padding-top: 0;
   }
 






  .details {
    .w-col-7 {
      width: 58.33333333%;
    }
    .w-col-5 {
      width: 41.66666667%;
    }
  }


  /*cart */
  a.cart-btn {
    width: 100%;
  }
}
