body {
  background-color: black;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  position: static;
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  float: none;
  clear: none;
  opacity: 1;
  font-family:'Didot htf b96 ital', sans-serif;
  color: black;
  font-size: 6rem;
  line-height: 8rem;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}
h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family:'Didot htf b96 ital', sans-serif;
  color: black;
  font-size: 10.3rem;
  line-height: 9.4rem;
  font-style: normal;
  font-weight: 800;
  text-align: left;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
h3 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0rem;
  opacity: 1;
  font-family:'Didot htf b96 ital', sans-serif;
  color: white;
  font-size: 5.7rem;
  line-height: 5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  list-style-type: none;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: aktiv-grotesk-std, sans-serif;
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 200;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}
h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  float: none;
  opacity: 1;
  font-family: aktiv-grotesk-std, sans-serif;
  font-size: 0.7rem;
  line-height: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: none;
}
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  float: none;
  font-family: aktiv-grotesk-std, sans-serif;
  color: black;
  font-size: 0.7rem;
  line-height: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}
p {
  margin-bottom: 2rem;
  font-family: aktiv-grotesk-std, sans-serif;
  color: #828282;
  font-size: 0.7rem;
  line-height: 1.1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-transform: none;
}
.button {
  display: block;
  width: 100%;
  margin: 0rem 0rem 1rem;
  padding: 1rem;
  border: 3px solid white;
  background-color: transparent;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family: aktiv-grotesk-std, sans-serif;
  color: white;
  font-size: 0.7rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  background-color: white;
  opacity: 1;
  color: black;
}
.button.modal-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  opacity: 1;
  font-family: aktiv-grotesk-std, sans-serif;
}
.button.modal-link:hover {
  background-color: white;
  opacity: 1;
  color: black;
}
.button.no-btn {
  margin-top: 0rem;
  border: 3px solid white;
  background-color: transparent;
  color: white;
}
.button.dark-btn {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-color: white;
  background-color: transparent;
  -webkit-transition: opacity 500ms ease, background-color 500ms ease;
  transition: opacity 500ms ease, background-color 500ms ease;
  font-family: aktiv-grotesk-std, sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}
.button.owo-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.button.black-btn {
  border-color: black;
  color: black;
}
.button.black-btn:hover {
  background-color: black;
  color: white;
}
.container {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 3rem;
  z-index: 1;
  display: block;
  margin-top: 23%;
  opacity: 1;
  text-align: left;
}
.line {
  display: block;
  width: 1rem;
  height: 1px;
  margin: 1rem auto 2rem;
  background-color: white;
  opacity: 0.5;
}
.line.dark-line {
  margin-bottom: 1rem;
  background-color: black;
}
.form-wrapper {
  display: block;
  width: 50%;
  margin: 2rem auto 0px;
  clear: none;
  color: white;
  text-align: center;
}
.email-field {
  position: static;
  display: block;
  width: 10rem;
  height: 2rem;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  border-style: none;
  background-color: black;
  font-family: aktiv-grotesk-std, sans-serif;
  color: white;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.submit-btn {
  width: 8rem;
  height: 3rem;
  float: right;
  background-color: white;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family: aktiv-grotesk-std, sans-serif;
  color: black;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.submit-btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.form {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.section {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: block;
  background-image: url('../images/FR_adrianne.jpg');
  background-position: 50% -198px;
  background-size: cover;
  background-repeat: repeat;
}
.logo {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  margin-bottom: 0px;
  margin-left: 3rem;
  font-family:'Didot htf b96 ital', sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
}
.footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
}
.black {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.type-contain {
  position: relative;
  z-index: 2;
  margin-top: 6%;
}
.logo-column {
  position: fixed;
  z-index: 2;
  margin-left: 0rem;
  padding-top: 0rem;
  padding-left: 0rem;
}
.navbar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-top: 3rem;
  padding: 1rem 2rem 0.6rem 3rem;
  float: none;
  clear: none;
  background-color: black;
}
.navbar.no-top-pad {
  margin-top: 0rem;
  background-color: black;
}
.brand {
  padding-top: 0rem;
  padding-left: 0rem;
  float: left;
  font-family:'Didot htf b96', sans-serif;
  font-size: 2.2rem;
  letter-spacing: -0.02rem;
  text-transform: none;
}
.menubtn.w--open {
  background-color: black;
}
.nav-link-open {
  display: none;
  border-left-style: none;
  border-left-width: 1px;
  background-color: white;
  font-family: aktiv-grotesk-std, sans-serif;
  color: black;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.nav-link-open.w--current {
  color: black;
}
.nav-link-open.logout {
  display: none;
  border-left-style: solid;
  border-left-color: black;
  background-color: white;
}
.logo-link {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 2;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  color: white;
  text-decoration: none;
}
.logo-link:hover {
  opacity: 0.5;
}
.logo-link.w--current {
  position: static;
  left: 4rem;
  top: 4rem;
  z-index: 2;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  float: left;
  clear: none;
  opacity: 1;
}
.logo-link.w--current:hover {
  opacity: 1;
}
.north {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: block;
  height: 1rem;
  background-color: black;
}
.south {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  display: block;
  height: 1rem;
  background-color: black;
  color: black;
}
.west {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2;
  display: block;
  width: 1rem;
  height: 100%;
  background-color: black;
}
.east {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  display: block;
  width: 1rem;
  height: 100%;
  background-color: black;
}
.hyperlink {
  margin-left: 0.3rem;
  font-family: aktiv-grotesk-std, sans-serif;
  color: #54e3ff;
  font-size: 0.8rem;
  text-decoration: none;
}
.checkbox-field {
  padding-top: 3.5rem;
}
.paragraph {
  color: #7a7a7a;
  font-size: 0.8rem;
}
.rules {
  position: relative;
  z-index: 2;
  margin-bottom: 0rem;
  padding-bottom: 5rem;
}
.ordered-list {
  font-family: aktiv-grotesk-std, sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
}
.primary-btn {
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}
.modal-background {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  display: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-window {
  display: block;
  width: 60%;
  margin-top: 7%;
  margin-right: auto;
  margin-left: auto;
  padding: 0rem 2rem 2rem;
  border: 8px solid white;
  background-color: black;
}
.form-field {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  border: 3px solid white;
  background-color: transparent;
  font-family: aktiv-grotesk-std, sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
}
.intro-text {
  margin-bottom: 2rem;
  font-weight: 300;
}
.top-row {
  margin-bottom: 3rem;
}
.byline {
  position: static;
  right: 0rem;
  bottom: 0rem;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  margin-right: auto;
  margin-left: auto;
}
.date-contain {
  display: block;
  float: none;
  text-align: center;
}
.content {
  position: relative;
  z-index: 2;
  margin-top: 1.5rem;
  padding: 0rem 9rem 5rem;
}
.final-p {
  margin-bottom: 1rem;
}
.last-p {
  margin-bottom: 1rem;
}
.letter-back {
  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
  background-color: transparent;
}
.dark {
  font-family: aktiv-grotesk-std, sans-serif;
  color: #424242;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
}
.white {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.90);
}
.home-only {
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 40;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  clear: both;
  background-color: transparent;
}
.nav-link {
  width: 100%;
  padding: 3rem 0px;
  -webkit-transition: opacity 500ms ease, background-color 500ms ease;
  transition: opacity 500ms ease, background-color 500ms ease;
  font-family:'Didot htf b96 ital', sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.nav-link:hover {
  background-color: white;
  opacity: 1;
  color: black;
}
.nav-link.w--current {
  background-color: white;
  color: black;
}
.nav-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 7rem;
  border: 1rem solid white;
  background-color: black;
}
.menu-btn {
  position: relative;
  z-index: 15;
  margin-top: 0rem;
  margin-right: 0rem;
  padding: 0.5rem 1rem 1rem;
}
.menu-btn.w--open {
  background-color: transparent;
}
.btn-bar {
  position: static;
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  text-align: center;
}
.centered-bar {
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.left {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 50%;
  padding: 8% 10%;
  float: left;
  background-color: #2b2b2b;
}
.right {
  position: static;
  overflow-x: visible;
  overflow-y: visible;
  width: 50%;
  padding: 0%;
  float: right;
  background-color: black;
}
.product {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 0rem;
  padding: 1rem;
  background-color: black;
}
.cart {
  position: fixed;
  left: auto;
  right: 0px;
  bottom: auto;
  z-index: 2000;
  display: none;
  width: 16rem;
  height: 3.25rem;
  margin-top: 3rem;
  margin-right: 3rem;
  padding: 0rem;
  float: right;
  border: 3px solid white;
  border-radius: 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 0px 1px 0px;
  opacity: 1;
}
.float-left {
  float: left;
}
.cart-type {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 0rem;
  float: left;
  font-family: aktiv-grotesk-std, sans-serif;
}
.cart-price {
  padding: 0.9rem 1rem;
  float: right;
  background-color: black;
  color: white;
}
.shopping-cart {
  padding: 0.8rem 1rem;
  float: left;
  background-color: black;
  color: black;
}
.cart-contents {
  padding-top: 0rem;
  padding-left: 0rem;
  float: right;
}
.credits-bar {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0rem;
  z-index: 2;
  height: 3rem;
  padding: 1rem 2rem;
  background-color: black;
  text-align: center;
}
.byline-title {
  padding-top: 0rem;
  font-family: aktiv-grotesk-std, sans-serif;
  color: #bdbdbd;
  font-size: 0.6rem;
  line-height: 1rem;
  font-weight: 400;
  text-align: right;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
.owo-button {
  display: inline-block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0.5rem 2rem;
  float: none;
  border: 3px solid white;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family: aktiv-grotesk-std, sans-serif;
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.15rem;
  text-decoration: none;
  text-transform: uppercase;
}
.owo-button:hover {
  background-color: white;
  opacity: 1;
  color: black;
}
.fs-icon {
  width: 50px;
  padding: 1rem 0rem;
  float: right;
  font-family:'Captured icons', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.fs-link {
  padding: 0rem;
  float: right;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: white;
  text-align: center;
  text-decoration: none;
}
.fs-link:hover {
  background-color: white;
  color: black;
}
.feat-photo {
  border: 5px solid black;
}
.room-one {
  background-image: url('../images/room-one.jpg');
  background-size: cover;
}
.slider {
  height: 45rem;
}
.black-outline {
  margin: 12% 15%;
  border: 5px solid white;
  box-shadow: rgba(0, 0, 0, 0.49) 1px 1px 1px 0px;
}
.shopping-cart-icon {
  font-family:'Captured icons', sans-serif;
  color: white;
  font-size: 1.3rem;
}
.arrow {
  position: absolute;
  left: 0px;
  top: 15px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 80px;
  height: 50px;
  margin-top: 0rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0rem;
  background-color: white;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family:'Captured icons', sans-serif;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}
.arrow:hover {
  background-color: black;
  color: white;
}
.arrow.w--current {
  display: none;
}
.row-100 {
  position: relative;
  background-color: #2b2b2b;
}
.arrow-icon {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 0rem;
  background-color: transparent;
  font-family:'Captured icons', sans-serif;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  list-style-type: none;
}
.arrow-icon:hover {
  color: white;
}
.skip-link {
  position: relative;
  z-index: 1;
  display: block;
  width: 10%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  background-color: white;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family:'Captured icons', sans-serif;
  color: black;
  text-align: center;
  text-decoration: none;
}
.skip-link:hover {
  background-color: black;
  color: white;
}
.fs-pic-link {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0rem;
  float: left;
  background-color: white;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: black;
}
.fs-pic-link:hover {
  background-color: black;
  color: white;
}
.cen-icon {
  display: inline-block;
  text-align: center;
}
.details {
  margin-bottom: 20%;
  padding-top: 1rem;
  padding-right: 10%;
  padding-left: 10%;
}
.header-hidden {
  position: fixed;
  z-index: 30;
  width: 100%;
}
.photo-title {
  margin-top: 12%;
  padding-right: 10%;
  padding-bottom: 0rem;
  padding-left: 10%;
}
.highlight {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 10%;
  background-color: #f2da6d;
  font-family: abril-titling-narrow, sans-serif;
  color: black;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
.details-title {
  padding-left: 10%;
  opacity: 1;
  font-family: aktiv-grotesk-std, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}
.avail-text {
  font-family: aktiv-grotesk-std, sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.nav-open {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: none;
  height: 100%;
  padding-top: 11rem;
  border: 15px solid white;
  background-color: black;
  opacity: 0;
}
.burger {
  position: static;
  left: 2rem;
  top: 4rem;
  z-index: 99;
  display: block;
  width: 53px;
  height: 35px;
  padding-top: 0.4rem;
  float: right;
  text-align: center;
}
.power {
  position: relative;
  display: block;
  height: 50rem;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.2)), url('../images/iceburg_small.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.2)), url('../images/iceburg_small.jpg');
  background-position: 0% 0%, 0px 0px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}
.words {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  float: none;
  background-color: black;
  text-align: center;
}
.blurb-contain {
  padding-right: 8rem;
  padding-left: 8rem;
}
.concept-body {
  margin-bottom: 0rem;
  padding-top: 0%;
  padding-right: 0%;
  padding-left: 0%;
  color: #828282;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.12rem;
}
.concept-body.grey-type {
  padding-top: 0%;
  padding-right: 0%;
  padding-left: 0%;
  color: #7d7d7d;
}
.style {
  position: relative;
  height: 50rem;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.09)), url('../images/concept_bottom.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.09)), url('../images/concept_bottom.jpg');
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}
.style-copy {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
  text-align: center;
}
.style-header {
  font-family:'Didot htf b96 ital', sans-serif;
  color: white;
  font-size: 4.7rem;
  line-height: 4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
.wow {
  height: 50rem;
  background-image: url('../images/LILY_TUTU_0218.jpg');
  background-position: 0px 50%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
.power-heading {
  position: relative;
  top: 25%;
  bottom: 0px;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 5% 0%;
  background-color: transparent;
  text-align: center;
}
.style-title {
  position: relative;
  top: 30%;
  right: 0px;
  bottom: 0px;
  padding: 30% 15% 5%;
  color: white;
  text-align: left;
}
.c-mark {
  position: absolute;
  left: 0px;
  top: 4rem;
  bottom: 0px;
}
.wow-title {
  position: relative;
  top: 35%;
  width: 100%;
  padding-left: 5%;
  color: white;
  text-align: left;
}
.wow-copy {
  width: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: black;
  text-align: left;
}
.col-nopad {
  padding-right: 0px;
  padding-left: 0px;
}
.style-type {
  margin-bottom: 0rem;
  color: #cfcfcf;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 200;
  text-align: left;
}
.copy-contain {
  position: relative;
  top: 25%;
  padding-top: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  background-color: transparent;
}
.black-type {
  margin-top: 0px;
  margin-bottom: 1rem;
  color: black;
  line-height: 2rem;
}
.white-copy-contain {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding: 5%;
  background-color: transparent;
  box-shadow: none;
}
.iceburg-copy {
  margin-bottom: 0rem;
  color: #cfcfcf;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 200;
}
.snooze {
  position: relative;
  height: 20rem;
  background-color: #424242;
}
.snooze-title-contain {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 0%;
}
.snooze-title {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 6.3rem;
  line-height: 3.9rem;
  text-align: center;
}
.archive-1 {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  background-color: black;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: white;
  text-decoration: none;
}
.archive-1:hover {
  background-color: white;
  color: black;
}
.archive-title {
  font-family: aktiv-grotesk-std, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  list-style-type: none;
}
.column-text {
  padding: 8% 7% 1%;
  background-color: transparent;
}
.left-align {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 200;
  text-align: left;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.c-mark-contain {
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: 2;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: center;
}
.aldiff-type {
  font-family: aktiv-grotesk-std, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 200;
  text-align: left;
  letter-spacing: 0.1rem;
}
.inline-cart-icon {
  display: inline;
  font-family:'Captured icons', sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  text-transform: none;
}
.glasses-icon {
  display: inline-block;
  float: left;
  font-family:'Captured icons', sans-serif;
  font-size: 2rem;
  line-height: 1.4rem;
  text-transform: none;
}
.image-title {
  font-size: 1rem;
}
.black-background {
  padding-right: 0px;
  padding-left: 0px;
  background-color: black;
}
.det-span {
  float: right;
}
.altogether {
  font-size: 4.7rem;
  line-height: 4rem;
  text-align: left;
}
.bebold {
  height: 50rem;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0.09)), url('../images/Poseidon.jpg');
  background-image: linear-gradient(rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0.09)), url('../images/Poseidon.jpg');
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}
.bold-title {
  padding-top: 25%;
  text-align: center;
  text-transform: none;
}
.lower-case-b {
  text-transform: none;
}
.sub-nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.sub-nav-link {
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  font-family: aktiv-grotesk-std, sans-serif;
  color: white;
  font-size: 0.6rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
  text-decoration: none;
  text-transform: uppercase;
}
.sub-nav-link:hover {
  opacity: 0.5;
}
.divider {
  float: none;
}
.artists-back {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.09)), url('../images/pg_53_Ana_Bagayan_Revised.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.09)), url('../images/pg_53_Ana_Bagayan_Revised.jpg');
  background-size: auto, cover;
}
.wow-txt {
  color: white;
}
.red {
  height: 50rem;
  background-image: url('../images/polypenrose.jpg');
  background-size: cover;
}
html.w-mod-js *[data-ix="hide-nav"] {
  display: none;
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}
html.w-mod-js *[data-ix="sitewide-fade-in"] {
  opacity: 0;
}
html.w-mod-js *[data-ix="slide-in-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}
html.w-mod-js *[data-ix="fade-up-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}
html.w-mod-js *[data-ix="new-interaction-2"] {
  display: none;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}
html.w-mod-js *[data-ix="invisible-header"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="fade-in-from-right"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="fade-in-from-left"] {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}
html.w-mod-js.w-mod-no-ios *[data-ix="fade-up"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}
@media (max-width: 991px) {
  body {
    background-position: 0% 0%, 72% 0%;
  }
  h1 {
    font-size: 5rem;
  }
  .button.modal-link {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .container {
    margin-top: 29%;
  }
  .form-wrapper {
    width: 65%;
  }
  .section {
    background-image: url('../images/FR_adrianne.jpg');
    background-position: 64% 0%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .logo-link {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0rem;
  }
  .logo-link.w--current {
    width: 30%;
    float: left;
  }
  .rules {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .primary-btn {
    width: 25%;
  }
  .modal-window {
    width: 80%;
    margin-top: 9%;
  }
  .content {
    margin-top: 0rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .centered-bar {
    width: 30%;
  }
  .left {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
  }
  .right {
    position: static;
    display: block;
  }
  .product {
    position: static;
    display: block;
    float: none;
    clear: none;
  }
  .black-outline {
    position: relative;
  }
  .arrow.w--current {
    display: none;
  }
  .row-100 {
    position: relative;
    display: block;
    float: none;
    clear: none;
  }
  .details {
    position: relative;
  }
  .photo-title {
    position: relative;
  }
  .highlight {
    position: relative;
  }
  .style-header {
    font-size: 2.7rem;
    line-height: 2.7rem;
  }
  .style-title {
    top: 0%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .white-copy-contain {
    width: 80%;
  }
  .column-text {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .det-span {
    float: right;
  }
}
@media (max-width: 767px) {
  body {
    background-position: 0% 0%, 77% 50%;
    background-size: auto, auto;
    background-repeat: repeat, repeat;
    background-attachment: scroll, scroll;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 4.7rem;
    line-height: 4.7rem;
  }
  h4 {
    font-size: 1.1rem;
    letter-spacing: 0.4rem;
  }
  .button.modal-link:hover {
    opacity: 1;
  }
  .container {
    margin-top: 50%;
    text-align: center;
  }
  .form-wrapper {
    width: 83%;
  }
  .section {
    background-image: url('../images/FR_adrianne.jpg');
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .north {
    display: none;
  }
  .south {
    display: none;
  }
  .west {
    display: none;
  }
  .east {
    display: none;
  }
  .primary-btn {
    width: 30%;
  }
  .modal-window {
    width: 95%;
  }
  .date-contain {
    position: static;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0rem;
    float: none;
  }
  .content {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .menu-btn {
    margin-top: 1.1rem;
  }
  .centered-bar {
    width: 30%;
  }
  .black-outline {
    margin: 10%;
  }
  .arrow.w--current {
    display: none;
  }
  .white-copy-contain {
    width: 90%;
  }
  .snooze-title {
    line-height: 4.9rem;
  }
  .archive-1 {
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 0%;
    text-align: center;
  }
  .det-span {
    float: right;
  }
}
@media (max-width: 479px) {
  body {
    background-image: url('../images/FR_adrianne.jpg');
    background-position: 79% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 500;
  }
  h2 {
    line-height: 4.4rem;
    text-align: left;
  }
  h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  h4 {
    font-size: 0.9rem;
    letter-spacing: 0.3rem;
  }
  h5 {
    opacity: 1;
    text-align: center;
    letter-spacing: 0.1rem;
  }
  .container {
    position: static;
    display: block;
    margin-top: 50%;
    margin-bottom: 2rem;
  }
  .line {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .form-wrapper {
    width: 90%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .email-field {
    width: 11rem;
    border-right-style: dashed;
    border-right-width: 0px;
  }
  .submit-btn {
    width: 5rem;
    height: 3rem;
    margin-top: 0rem;
  }
  .section {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .img {
    margin-bottom: 0.5rem;
  }
  .logo-link {
    padding-left: 0rem;
  }
  .logo-link.w--current {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
    opacity: 1;
    text-align: center;
  }
  .primary-btn {
    width: 50%;
  }
  .modal-window {
    padding-top: 2rem;
  }
  .byline {
    position: static;
    left: 0px;
    right: 0px;
    bottom: 0rem;
    padding-bottom: 0rem;
  }
  .content {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .letter-back {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .dark {
    text-align: left;
  }
  .home-only {
    background-position: 68% 50%;
  }
  .nav-link {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .nav-menu {
    padding-top: 10rem;
  }
  .menu-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: both;
    background-color: #242424;
    text-align: center;
  }
  .centered-bar {
    width: 70%;
    padding-top: 1rem;
  }
  .credits-bar {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .byline-title {
    font-size: 0.45rem;
    letter-spacing: 0.01rem;
  }
  .black-outline {
    margin: 5%;
  }
  .arrow.w--current {
    display: none;
  }
  .row-100 {
    position: relative;
    left: 0px;
    top: 0px;
    display: block;
    width: 100%;
  }
  .highlight {
    width: 90%;
  }
  .details-title {
    float: none;
  }
  .style {
    position: static;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    color: black;
  }
  .wow {
    font-size: 5rem;
  }
  .style-title {
    padding-right: 5%;
    padding-left: 5%;
  }
  .white-copy-contain {
    width: 95%;
  }
  .snooze-title {
    font-size: 3rem;
    line-height: 3rem;
  }
  .archive-1 {
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 0%;
    text-align: center;
  }
  .glasses-icon {
    float: left;
  }
  .det-span {
    float: right;
  }
}

@font-face {
  font-family: 'Captured icons';
  src: url('../fonts/captured-icons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Didot htf b06';
  src: url('../fonts/Didot-HTF-B06-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Didot htf b06 ital';
  src: url('../fonts/Didot-HTF-B06-Bold-Ital.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Didot htf b96 ital';
  src: url('../fonts/Didot-HTF-B96-Bold-Ital.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Didot htf b96';
  src: url('../fonts/Didot-HTF-B96-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}